.about-content{
    font-family: WorkSans-ExtraLight;
    margin-left: 100px;
    font-size: 20px;
    width: 50%;

}
.about-content div{
    margin: 5px;

}
.about-content{
    margin-top: 75px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 10px #2f5a9179);
    background-color: #EAEBED;
    padding: 20px;
    border-radius: 5px;

}
.about-content h1{
    font-size: 20px;
}