
.profile-picture{
    
    float: right;

    
}

@font-face {
    font-family: Karantina-bold;
    src: url('../fonts/Karantina/Karantina-Bold.ttf');
}

@font-face {
    font-family: Karantina-Light;
    src: url('../fonts/Karantina/Karantina-Light.ttf');
}

@font-face {
    font-family: Karantina-Regular;
    src: url('../fonts/Karantina/Karantina-Regular.ttf');
}
.title{
    padding: 50px;
    font-family: Karantina-bold;
    font-size: 40px;

}
.last-name{
    margin-left: 20px;
    color: rgb(73, 73, 73);
}
.moto{
    margin-left: 100px;
    font-family: Karantina-Regular;
    font-size: 40px;
}
.moto-color{
    color: #2F5A91;
}


@media only screen and (max-width: 600px){
    .profile-picture{
        display: none;
    }
    .moto{
        margin-left: 0px ;
    }
    
}