
.profile-picture{   

    float: right;

    
}
.profile-picture img{
    filter: drop-shadow(0 0 0.95rem #2f5a9179);
}

@font-face {
    font-family: Karantina-bold;
    src: url('../fonts/Karantina/Karantina-Bold.ttf');
}

@font-face {
    font-family: Karantina-Light;
    src: url('../fonts/Karantina/Karantina-Light.ttf');
}

@font-face {
    font-family: Karantina-Regular;
    src: url('../fonts/Karantina/Karantina-Regular.ttf');
}
    
@font-face {
    font-family: WorkSans-Regular;
    src: url('../fonts/WorkSans/WorkSans-Regular.ttf');
}
@font-face {
    font-family: WorkSans-ExtraLight;
    src: url('../fonts/WorkSans/WorkSans-ExtraLight.ttf');
}

@font-face {
    font-family: WorkSans-SamiBold;
    src: url('../fonts/WorkSans/WorkSans-SemiBold.ttf');
}
.title{
    padding-top: 140px;
    padding-left: 100px;
    font-family: Karantina-bold;
    font-size: 40px;

}
.last-name{
    color: rgb(73, 73, 73);
}
.moto{
    font-family: WorkSans-Regular;
    font-size: 24px;
}
.moto-color{
    color: #2F5A91;
}


@media only screen and (max-width: 600px){
    .profile-picture{
        display: none;
    }
    .moto{
        margin-left: 0px ;
    }
    
}