
.profile-picture{
    
    float: right;

    
}

@font-face {
    font-family: Karantina-bold;
    src: url('../fonts/Karantina-Bold.ttf');
}

@font-face {
    font-family: Karantina-Light;
    src: url('../fonts/Karantina-Light.ttf');
}

@font-face {
    font-family: Karantina-Regular;
    src: url('../fonts/Karantina-Regular.ttf');
}
.title{
    padding: 50px;
    font-family: Karantina-bold;
    font-size: 40px;

}
.last-name{
    margin-left: 20px;
    color: rgb(34, 34, 34);
}
.moto{
    margin-left: 100px;
    font-family: Karantina-Regular;
    font-size: 40px;
}
.moto-color{
    color: #2F5A91;
}