body{
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(49, 49, 49);
  background-image: linear-gradient(to bottom right,  rgb(128, 128, 128), rgb(49, 49, 49));
  color: rgb(158, 158, 158);
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color:#2F5A91;
  
}

#open-icon{
  margin-left: 10px;
  cursor: pointer;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(219, 219, 219, 0.753);
}

.main-content{
  padding-top: 50;
  width: 90%;
  margin: 50px;
}

.bar{
  width: 35px;
  height: 6px;
  background-color: #2F5A91;
  margin: 6px 0;
  transition: 0.4s;
  
}
#nav-icon{
  margin: 0;
  padding: 0;

  
}




#nav-menu{
  display: none;

}
#close-icon{
  position: relative;
  float: left;
  font-size: 15px;
  cursor: pointer;
  right: 30px;
  top: 5px;
  color: white;


}
nav{
  height: 100px;
  position: fixed;
  
}


.main-title{
  margin: 30px;
}

.links{
  background-color: transparent
}
.social-media{
  bottom: 250px;
  right: 0;
  position: fixed;
  float: right;
  background-color: transparent
 
}
.linkedin{
  margin-top: 10px;
  margin-bottom: 10px;
  float: none;
  width: 80px;
  height: 40px;
  background-color: #0274B3;
  text-align: left;
  -webkit-transition: All 0.5s ease-in-out

}

.linkedin:hover{
  width: 90px;
  height: 50px;
  
}
.github{
  margin-top: 10px;
  margin-bottom: 10px;
  float: none;
  width: 80px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: All 0.5s ease-in-out
}

.github:hover{
  width: 90px;
  height: 50px;
}

@media only screen and (max-width: 600px){
  body{}

  .social-media{
    top: 30px;
  }  
}
