body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);

}
/* side navbar design */
.sidenav {
  
    height: 100%;
    width: 15%;
    position: fixed;
    top:auto;
    left: 0;
    padding: 8px;
    background:rgba(8, 139, 214, 0.288);
    margin: 0px;

    /* height: 200px;
    width: 150px;
    position: fixed;
    margin-right: 50px;
    float: left;
    background:rgb(228, 228, 228);
    padding: 8px; */
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: larger;
    color: #000000ec;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  .selected{
    background-color: #01165a33;
  }

  /* header navbar design */
  .topnav {
    overflow: hidden;
    background-color: rgb(1, 48, 92);
    position: sticky;
    top: 0;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  


  /* main content design */
  .main-content {
    margin-left: 20%;
  }
  /* content design */
  .title {
    font-size: larger;
    padding-bottom: 10px; 
    line-height: 28px
  }  
  #notes, #subject{
    margin-left: 17%;
    margin-right: 7%;
  }
  .title {
    border-bottom: 2px solid rgb(0, 6, 94);
    padding: 10px
  }
  .description {
    padding: 15px;
    margin-right: 5%;
  }
  .examples {
    padding-left: 5%;
    padding-right: 4%;
  }
  .about {
    padding-left: 5%;
    padding-right: 30%;
    font-size: larger;
  }
