.project{
    border: solid thin rgb(75, 75, 75);
    border-radius: 5px;
    width: 45%; 
    height: 250px; 
    float: left;
    margin: 1%;
    background-color:  #C7D3DD;
    box-shadow: 2px 2px 4px rgb(134, 134, 134);
    text-align: center;
    font-size: 24px;
    /* letter-spacing: 2px; */
    padding: 1%;
    color: #14263E;
    -webkit-transition: All 0.5s ease-in-out

}
.project-description{
    font-family: WorkSans-Regular;
    font-size: 15px;
}
.project-tech{
    
    float: left;
    margin: 10px;

    padding: 5px;
    font-size: 15px;
    margin: 5px;
    border-radius: 7px;
    -webkit-transition: All 0.5s ease-in-out

}

.technologies{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.project:hover{
    background-color: #E8EEF2;

}
@media only screen and (max-width: 950px){
    .project{
        width: 90%;
        height: fit-content;
    }    
}